body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1510312305653-8ed496efae75?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}
.cover-container {
    width: 60vw;
}
#main-body {
    margin-top: 200px;
    margin-bottom: 300px;
}
#navbar-style a{
    color: white;
    border-bottom: 0.25rem solid transparent;
}
#navbar-style a:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color:rgba(255, 255, 255, 0.5); ;
}
.btn-secondary {
    color: #333;
}